body {
  padding-top: 60px;
}

.error {
  color: #c00;
}

.actionButtons {
  margin-bottom: 20px;
}

table.dataTable thead th {
  background-position: right center;
  background-repeat: no-repeat;
}

th.sorting {
  background-image: url(../img/sort_both.png);
}

th.sorting_asc {
  background-image: url(../img/sort_asc.png);
}

th.sorting_desc {
  background-image: url(../img/sort_desc.png);
}

body div.container tr.updated td {
  background-color: #FFF9D7;
}

body div.container tr.removeHighlight td {
  background-color: #F4E4E4;
}

.no-padding {
  padding: 0 0;
}